<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/css/weather.png">
  </head>
  <body>
    <div class="main-content">
        {{>header}}

        This website is created by Manish Maurya. It uses data from mapbox.com and darksky.net.
    </div>

    {{>footer}}
  </body>
</html>
